<footer class="mt-auto text-white-50">
  <p>Template de <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, hecho por <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
</footer>