<main class="px-3 text-center d-flex flex-column vh-100 align-items-center justify-content-center">
  <div class>
  <h1>App Blog Awake.</h1>
  <p class="lead">Aplicación Blog Primera Entrega</p>
  <p class="lead">
    <%= link_to "Nosotros", users_path, class: "btn btn-lg btn-secondary fw-bold border-white bg-white" %>
  </p>
  </div>
</main>